.container{
    max-width: 750px;
    text-align: center;
    margin-top: 50px;
}
h1{
    text-shadow: 3px 3px 6px black;
}
.headshot{
    width: auto;
    height: 35%;
    margin-bottom: 30px;  
}
h2{
    text-shadow: 2px 2px 8px black;
    font-family: "Fantasy", Papyrus;
}